Data URL: https://www.kaggle.com/competitions/predict-who-is-more-influential-in-a-social-network/data

- Each observation describes two individuals, A and B. 
- There are 11 variables for each person based on Twitter activity, e.g., number of followers, retweets, network characteristics, etc. 
- Each observation shows whether A > B (Choice = “1”) or B > A (Choice = “0”).

In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('train.csv')

In [3]:
pd.set_option('display.max_columns', None)
train.head(5)

,Choice,A_follower_count,A_following_count,A_listed_count,A_mentions_received,A_retweets_received,A_mentions_sent,A_retweets_sent,A_posts,A_network_feature_1,A_network_feature_2,A_network_feature_3,B_follower_count,B_following_count,B_listed_count,B_mentions_received,B_retweets_received,B_mentions_sent,B_retweets_sent,B_posts,B_network_feature_1,B_network_feature_2,B_network_feature_3
0,0,228,302,3,0.583979,0.100503,0.100503,0.100503,0.362150,2,166.500000,11355.000000,34463,29808,1689,15.430498,3.984029,8.204331,0.332423,6.988815,66,75.530303,1916.893939
1,0,21591,1179,228,90.456506,25.798292,5.709329,1.111159,5.176620,369,18.442971,1330.366048,39262,848,1610,40.495021,8.943607,3.227677,0.564343,1.070321,163,132.030675,2931.515337
2,0,7310,1215,101,25.503644,9.556347,5.361519,0.591206,3.589718,95,68.927835,5999.896907,3622,482,206,0.734696,0.354379,0.603202,0.100503,0.603202,3,10.333333,277.333333
3,0,20,7,2,7.690824,0.277306,1.331508,0.100503,2.830627,6,2.000000,96.166667,19562,17637,278,572.874856,390.293681,27.552040,7.167557,32.101906,1762,23.469296,1395.845634
4,1,45589,862,2641,148.854279,36.998884,27.881768,3.333492,23.861282,551,127.404293,2833.847943,7554,1711,181,21.601866,3.581661,6.764657,1.119727,4.563246,85,48.500000,1993.627907

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5500 entries, 0 to 5499
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Choice               5500 non-null   int64
 1   A_follower_count     5500 non-null   int64
 2   A_following_count    5500 non-null   int64
 3   A_listed_count       5500 non-null   int64
 4   A_mentions_received  5500 non-null   float64
 5   A_retweets_received  5500 non-null   float64
 6   A_mentions_sent      5500 non-null   float64
 7   A_retweets_sent      5500 non-null   float64
 8   A_posts              5500 non-null   float64
 9   A_network_feature_1  5500 non-null   int64
 10  A_network_feature_2  5500 non-null   float64
 11  A_network_feature_3  5500 non-null   float64
 12  B_follower_count     5500 non-null   int64
 13  B_following_count    5500 non-null   int64
 14  B_listed_count       5500 non-null   int64
 15  B_mentions_received  5500 non-null   float64
 16  B_retweets_received  5500 non-null   float64
 17  B_mentions_sent      5500 non-null   float64
 18  B_retweets_sent      5500 non-null   float64
 19  B_posts              5500 non-null   float64
 20  B_network_feature_1  5500 non-null   int64
 21  B_network_feature_2  5500 non-null   float64
 22  B_network_feature_3  5500 non-null   float64
dtypes: float64(14), int64(9)
memory usage: 988.4 KB

In [8]:
train.describe()

,Choice,A_follower_count,A_following_count,A_listed_count,A_mentions_received,A_retweets_received,A_mentions_sent,A_retweets_sent,A_posts,A_network_feature_1,A_network_feature_2,A_network_feature_3,B_follower_count,B_following_count,B_listed_count,B_mentions_received,B_retweets_received,B_mentions_sent,B_retweets_sent,B_posts,B_network_feature_1,B_network_feature_2,B_network_feature_3
count,5500.000000,5.500000e+03,5.500000e+03,5500.000000,5.500000e+03,5500.000000,5500.000000,5500.000000,5500.000000,5500.000000,5500.000000,5500.000000,5.500000e+03,5500.000000,5500.000000,5.500000e+03,5500.000000,5500.000000,5500.000000,5500.000000,5500.000000,5500.000000,5500.000000
mean,0.509455,6.498840e+05,1.265895e+04,5952.453273,2.666032e+03,1032.371839,6.011873,1.109924,9.090730,5267.768000,84.805209,3747.219758,6.854869e+05,12738.259818,5903.148364,2.554598e+03,997.149954,6.099658,1.106236,9.505821,5254.933636,85.024196,3745.175480
std,0.499956,2.028787e+06,4.900867e+04,17339.141191,2.916543e+04,10954.953223,9.519797,1.910104,18.311060,28946.777345,104.073204,5757.339852,2.160612e+06,50054.520874,16298.462018,2.508873e+04,9342.006880,9.729557,1.939914,19.424680,26778.820125,106.689384,5518.399590
min,0.000000,1.600000e+01,0.000000e+00,0.000000,1.005034e-01,0.100503,0.100503,0.100503,0.100503,0.000000,0.000000,0.000000,2.000000e+01,0.000000,0.000000,1.005034e-01,0.100503,0.100503,0.100503,0.100503,0.000000,0.000000,0.000000
25%,0.000000,2.663750e+03,3.220000e+02,85.000000,3.453649e+00,0.716816,0.359534,0.100503,0.632440,12.000000,14.991870,1180.805341,2.498250e+03,322.000000,75.000000,3.260473e+00,0.714556,0.356943,0.100503,0.822584,11.000000,15.176568,1206.500000
50%,1.000000,4.558900e+04,7.780000e+02,932.000000,4.876542e+01,14.029113,2.299666,0.341936,3.555194,195.000000,54.925234,2206.420734,4.402700e+04,773.000000,890.000000,4.876542e+01,14.029113,2.251398,0.341936,3.342999,190.000000,54.925234,2206.420734
75%,1.000000,3.927380e+05,2.838000e+03,6734.000000,3.498196e+02,118.704407,7.198330,1.320681,10.691878,1323.000000,109.695652,4390.379310,3.701142e+05,2838.000000,6734.000000,3.743699e+02,107.081021,6.866840,1.320681,10.600502,1323.000000,112.191489,4349.908608
max,1.000000,3.654319e+07,1.165830e+06,549144.000000,1.145219e+06,435825.874241,76.809514,16.290540,193.072418,920838.000000,1121.000000,144651.461538,3.654319e+07,664324.000000,549144.000000,1.145219e+06,435825.874241,76.809514,16.290540,193.072418,920838.000000,1861.583333,75526.083333

In [9]:
AMinusB = pd.DataFrame()
AMinusB['Choice'] = train['Choice']
AMinusB['follower_count'] = train['A_follower_count'] / train['B_follower_count']
AMinusB['following_count'] = train['A_following_count'] / train['B_following_count']
AMinusB['listed_count'] = train['A_listed_count'] / train['B_listed_count']
AMinusB['mentions_received'] = train['A_mentions_received'] / train['B_mentions_received']
AMinusB['retweets_received'] = train['A_retweets_received'] / train['B_retweets_received']
AMinusB['mentions_sent'] = train['A_mentions_sent'] / train['B_mentions_sent']
AMinusB['retweets_sent'] = train['A_retweets_sent'] / train['B_retweets_sent']
AMinusB['posts'] = train['A_posts'] / train['B_posts']
AMinusB['network_feature_1'] = train['A_network_feature_1'] / train['B_network_feature_1']
AMinusB['network_feature_2'] = train['A_network_feature_2'] / train['B_network_feature_2']
AMinusB['network_feature_3'] = train['A_network_feature_3'] / train['B_network_feature_3']

In [10]:
AMinusB.head(5)

,Choice,follower_count,following_count,listed_count,mentions_received,retweets_received,mentions_sent,retweets_sent,posts,network_feature_1,network_feature_2,network_feature_3
0,0,0.006616,0.010132,0.001776,0.037846,0.025227,0.012250,0.302336,0.051819,0.030303,2.204413,5.923645
1,0,0.549921,1.390330,0.141615,2.233769,2.884551,1.768866,1.968943,4.836513,2.263804,0.139687,0.453815
2,0,2.018222,2.520747,0.490291,34.713213,26.966469,8.888426,5.882446,5.951102,31.666667,6.670436,21.634244
3,0,0.001022,0.000397,0.007194,0.013425,0.000711,0.048327,0.014022,0.088176,0.003405,0.085218,0.068895
4,1,6.035081,0.503799,14.591160,6.890807,10.330091,4.121682,2.977058,5.229015,6.482353,2.626893,1.421453

In [12]:
AMinusB.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5500 entries, 0 to 5499
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Choice             5500 non-null   int64
 1   follower_count     5500 non-null   float64
 2   following_count    5500 non-null   float64
 3   listed_count       5500 non-null   float64
 4   mentions_received  5500 non-null   float64
 5   retweets_received  5500 non-null   float64
 6   mentions_sent      5500 non-null   float64
 7   retweets_sent      5500 non-null   float64
 8   posts              5500 non-null   float64
 9   network_feature_1  5496 non-null   float64
 10  network_feature_2  5483 non-null   float64
 11  network_feature_3  5493 non-null   float64
dtypes: float64(11), int64(1)
memory usage: 515.8 KB

In [11]:
AMinusB.describe()

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)
/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)
/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)
/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)
/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)

,Choice,follower_count,following_count,listed_count,mentions_received,retweets_received,mentions_sent,retweets_sent,posts,network_feature_1,network_feature_2,network_feature_3
count,5500.000000,5500.000000,5500.000000,5500.000000,5.500000e+03,5500.000000,5500.000000,5500.000000,5500.000000,5496.000000,5483.000000,5493.000000
mean,0.509455,609.063937,inf,inf,1.406198e+03,1223.315069,14.685839,5.585569,14.195777,inf,inf,inf
std,0.499956,9180.138456,NaN,NaN,2.689670e+04,12865.123172,45.076328,13.770836,63.460866,NaN,NaN,NaN
min,0.000000,0.000004,0.000000,0.000000,1.528373e-06,0.000003,0.001308,0.006169,0.000521,0.000000,0.000000,0.000000
25%,0.000000,0.062139,0.179114,0.082043,5.492992e-02,0.052735,0.162619,0.279538,0.170097,0.052517,0.239519,0.340490
50%,1.000000,1.014562,1.039476,1.075984,9.872683e-01,1.000000,1.000000,1.000000,1.000000,1.000000,1.001184,0.948897
75%,1.000000,17.551299,5.938035,13.162973,1.975496e+01,21.228532,6.254171,3.629659,5.583226,21.893053,3.968176,2.851387
max,1.000000,477141.000000,inf,inf,1.727666e+06,520874.873939,764.248236,137.977004,1921.054391,inf,inf,inf

In [13]:
AMinusB = pd.DataFrame()
AMinusB['Choice'] = train['Choice']
AMinusB['follower_count'] = train['A_follower_count'] - train['B_follower_count']
AMinusB['following_count'] = train['A_following_count'] - train['B_following_count']
AMinusB['listed_count'] = train['A_listed_count'] - train['B_listed_count']
AMinusB['mentions_received'] = train['A_mentions_received'] - train['B_mentions_received']
AMinusB['retweets_received'] = train['A_retweets_received'] - train['B_retweets_received']
AMinusB['mentions_sent'] = train['A_mentions_sent'] - train['B_mentions_sent']
AMinusB['retweets_sent'] = train['A_retweets_sent'] - train['B_retweets_sent']
AMinusB['posts'] = train['A_posts'] - train['B_posts']
AMinusB['network_feature_1'] = train['A_network_feature_1'] - train['B_network_feature_1']
AMinusB['network_feature_2'] = train['A_network_feature_2'] - train['B_network_feature_2']
AMinusB['network_feature_3'] = train['A_network_feature_3'] - train['B_network_feature_3']

In [14]:
AMinusB.head(5)

,Choice,follower_count,following_count,listed_count,mentions_received,retweets_received,mentions_sent,retweets_sent,posts,network_feature_1,network_feature_2,network_feature_3
0,0,-34235,-29506,-1686,-14.846518,-3.883525,-8.103828,-0.231920,-6.626665,-64,90.969697,9438.106061
1,0,-17671,331,-1382,49.961485,16.854685,2.481652,0.546816,4.106299,206,-113.587704,-1601.149290
2,0,3688,733,-105,24.768949,9.201969,4.758317,0.490702,2.986516,92,58.594502,5722.563574
3,0,-19542,-17630,-276,-565.184032,-390.016375,-26.220532,-7.067053,-29.271279,-1756,-21.469296,-1299.678967
4,1,38035,-849,2460,127.252413,33.417223,21.117111,2.213765,19.298035,466,78.904293,840.220036

In [15]:
AMinusB.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5500 entries, 0 to 5499
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Choice             5500 non-null   int64
 1   follower_count     5500 non-null   int64
 2   following_count    5500 non-null   int64
 3   listed_count       5500 non-null   int64
 4   mentions_received  5500 non-null   float64
 5   retweets_received  5500 non-null   float64
 6   mentions_sent      5500 non-null   float64
 7   retweets_sent      5500 non-null   float64
 8   posts              5500 non-null   float64
 9   network_feature_1  5500 non-null   int64
 10  network_feature_2  5500 non-null   float64
 11  network_feature_3  5500 non-null   float64
dtypes: float64(7), int64(5)
memory usage: 515.8 KB

In [16]:
AMinusB.describe()

,Choice,follower_count,following_count,listed_count,mentions_received,retweets_received,mentions_sent,retweets_sent,posts,network_feature_1,network_feature_2,network_feature_3
count,5500.000000,5.500000e+03,5.500000e+03,5500.000000,5.500000e+03,5500.000000,5500.000000,5500.000000,5500.000000,5500.000000,5500.000000,5500.000000
mean,0.509455,-3.560291e+04,-7.931036e+01,49.304909,1.114342e+02,35.221885,-0.087785,0.003688,-0.415091,12.834364,-0.218986,2.044277
std,0.499956,2.724394e+06,7.043435e+04,21248.786134,3.826375e+04,14335.255250,13.497549,2.706191,26.374714,38911.503783,147.537349,8004.969474
min,0.000000,-3.619107e+07,-6.643230e+05,-544716.000000,-1.144742e+06,-435624.675035,-76.709011,-16.190036,-192.971915,-918957.000000,-1816.719697,-74409.992424
25%,0.000000,-1.838008e+05,-1.384750e+03,-3477.250000,-1.827743e+02,-62.624442,-4.320936,-0.729064,-5.491086,-671.000000,-59.634217,-2151.743979
50%,1.000000,1.500000e+01,1.600000e+01,6.000000,-1.458770e-02,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-75.796970
75%,1.000000,1.779708e+05,1.501000e+03,3638.500000,1.814826e+02,64.416753,4.286998,0.736936,5.202471,676.000000,61.516295,2129.051229
max,1.000000,3.506800e+07,1.162212e+06,518386.000000,1.143815e+06,435394.770296,76.709011,15.933596,192.971915,915090.000000,1078.000000,142621.361538

# Create an analytic model for pairs of individuals to classify who is more influential